---
import { cva } from "class-variance-authority";

const navigationLink = cva(
	"p-2 lg:px-4 md:mx-2 text-slate-600 rounded hover:bg-slate-200 transition-colors duration-300",
	{
		variants: {
			selection: {
				selected: "font-bold",
				default: ""
			}
		}
	}
)
---

<nav class="py-2 md:py-4">
  <div class="container px-4 mx-auto md:flex md:items-center">
    <div class="flex">
      <a href="/" class="font-bold text-xl text-center inline-block text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-red-600">CHENG YU</a>
    </div>
    <div class="hidden md:flex md:flex-row md:ml-auto md:mt-0">
      {[
        ['About', '/about'],
        ['Projects', '/project'],
      ].map(([title, url]) => (
        <a href={url} class={navigationLink({ selection: Astro.url.pathname === url ? 'selected' : 'default' })}>{title}</a>
      ))}
      <a href="/src/data/Resume.pdf" download="Resume.pdf" class="p-2 lg:px-4 md:mx-2 font-bold text-indigo-600 rounded hover:bg-indigo-600 hover:text-white transition-colors duration-300">Download Resume</a>
    </div>
  </div>
</nav>
